<form [formGroup]="formulario" style="margin-top: 10px; margin-bottom: 10px">
  @for (group of groupedRows; track group.row) {
    <div class="row mb-3">
      @for(item of group.items; track item.formControlName){
         <div [class]="item.col" [hidden]="item.hidden == undefined ? false : item.hidden">
          
            @if (item.type === 'text' || item.type === 'number') {
              <mat-form-field style="width: 100%;">
                <mat-label>{{ item.label }}</mat-label>
                <input matInput [formControlName]="item.formControlName" [type]="item.type" [required]="item.required == undefined? false : item.required" />
              </mat-form-field>
            }

            @if(item.type === 'checkbox'){
              <mat-checkbox [formControlName]="item.formControlName">{{item.label}}</mat-checkbox>
            }

            @if (item.type === 'textarea'){
              <mat-form-field style="width: 100%;">
                <mat-label>{{ item.label }}</mat-label>
                <textarea matInput [formControlName]="item.formControlName" [required]="item.required == undefined? false : item.required"></textarea>
              </mat-form-field>
            }

            @if(item.type === 'date'){
              <app-date-form-field [label]="item.label" [required]="item.required == undefined ? false : item.required" [readonly]="item.readonly == undefined ? false : item.readonly" [formControlName]="item.formControlName"></app-date-form-field>
            }

            @if (item.type === 'combo') {
              <app-combo-field
              [label]="item.label"
              [formControlName]="item.formControlName"
              [comboName]="item.comboName == undefined ? '' : item.comboName"
              [readonly]="item.readonly == undefined ? false : item.readonly"
              [required]="item.required == undefined ? false : item.required"
              ></app-combo-field>
            }
        </div>
      }
    </div>
  }
</form>
