<!-- @for (item of settings) { @switch (item.type) { @case ('text-form') {
<div [class]="item.row">
  <div [class]="item.col">
    <mat-form-field
      [formControlName]="item.formControlName"
      [aria-readonly]="item.readonly"
      [hidden]="item.hidden"
    >
      <mat-label>{{ item.label }}</mat-label>
      <input type="text" [(ngModel)]="value" />
      @if (value) {
      <button matSuffix matIconButton aria-label="Clear" (click)="value = ''">
        <mat-icon>close</mat-icon>
      </button>
      }
    </mat-form-field>
  </div>
</div>
} @case ('date-form') {
<div [class]="item.row">
  <div [class]="item.col">
    <mat-form-field
      [formControlName]="item.formControlName"
      [aria-readonly]="item.readonly"
      [hidden]="item.hidden"
    >
      <mat-label>{{ item.label }}</mat-label>
      <input type="date" [(ngModel)]="value" />
      @if (value) {
      <button matSuffix matIconButton aria-label="Clear" (click)="value = ''">
        <mat-icon>close</mat-icon>
      </button>
      }
    </mat-form-field>
  </div>
</div>
} @case ('number-form') {
<div [class]="item.row">
  <div [class]="item.col">
    <mat-form-field
      [formControlName]="item.formControlName"
      [aria-readonly]="item.readonly"
      [hidden]="item.hidden"
    >
      <mat-label>{{ item.label }}</mat-label>
      <input type="number" [(ngModel)]="value" />
      @if (value) {
      <button matSuffix matIconButton aria-label="Clear" (click)="value = ''">
        <mat-icon>close</mat-icon>
      </button>
      }
    </mat-form-field>
  </div>
</div>
} @case ('datetime-form') {
<div [class]="item.row">
  <div [class]="item.col">
    <mat-form-field
      [formControlName]="item.formControlName"
      [aria-readonly]="item.readonly"
      [hidden]="item.hidden"
    >
      <mat-label>{{ item.label }}</mat-label>
      <input type="datetime-local" [(ngModel)]="value" />
      @if (value) {
      <button matSuffix matIconButton aria-label="Clear" (click)="value = ''">
        <mat-icon>close</mat-icon>
      </button>
      }
    </mat-form-field>
  </div>
</div>
} @case ('checkbox') {
<div [class]="item.row">
  <div [class]="item.col">
    <mat-form-field
      [formControlName]="item.formControlName"
      [aria-readonly]="item.readonly"
      [hidden]="item.hidden"
    >
      <mat-label>{{ item.label }}</mat-label>
      <input type="checkbox" />
    </mat-form-field>
  </div>
</div>
} @case ('combo-form') {
<div [class]="item.row">
  <div [class]="item.col">
    <mat-form-field
      [formControlName]="item.formControlName"
      [aria-readonly]="item.readonly"
      [hidden]="item.hidden"
    >
      <mat-label>{{ item.label }}</mat-label>
      <mat-select>
        <mat-option value="option">Option</mat-option>
      </mat-select>
      <mat-hint align="end">Here's the dropdown arrow ^</mat-hint>
    </mat-form-field>
  </div>
</div>
} @case ('textarea-form') {
<div [class]="item.row">
  <div [class]="item.col">
    <mat-form-field
      [formControlName]="item.formControlName"
      [aria-readonly]="item.readonly"
      [hidden]="item.hidden"
    >
      <mat-label>{{ item.label }}</mat-label>
      <textarea matInput></textarea>
    </mat-form-field>
  </div>
</div>
}} -->

@for (row of groupedSettings(); track row) {
<div class="row mb-3">
  @for (item of groupedSettings()[row]; track item.formControlName) {
  <div [class]="item.col || 'col-12'">
    @switch (item.type) { @case ('text-form') {
    <mat-form-field appearance="outline" [hidden]="item.hidden">
      <mat-label>{{ item.label }}</mat-label>
      <input
        matInput
        type="text"
        [formControlName]="item.formControlName"
        [readonly]="item.readonly"
      />
    </mat-form-field>
    } @case ('number-form') {
    <mat-form-field appearance="outline" [hidden]="item.hidden">
      <mat-label>{{ item.label }}</mat-label>
      <input
        matInput
        type="number"
        [formControlName]="item.formControlName"
        [readonly]="item.readonly"
      />
    </mat-form-field>
    } @case ('date-form') {
    <div [class]="item.row">
      <div [class]="item.col">
        <mat-form-field appearance="outline" [hidden]="item.hidden">
          <mat-label>{{ item.label }}</mat-label>
          <input
            matInput
            type="date"
            [formControlName]="item.formControlName"
            [readonly]="item.readonly"
            [ngModel]="value()"
            (ngModelChange)="value.set($event)"
          />
          @if (value()) {
          <button matSuffix mat-icon-button (click)="value.set('')">
            <mat-icon>close</mat-icon>
          </button>
          }
        </mat-form-field>
      </div>
    </div>
    } @case ('datetime-form') {
    <div [class]="item.row">
      <div [class]="item.col">
        <mat-form-field appearance="outline" [hidden]="item.hidden">
          <mat-label>{{ item.label }}</mat-label>
          <input
            matInput
            type="datetime-local"
            [formControlName]="item.formControlName"
            [readonly]="item.readonly"
            [ngModel]="value()"
            (ngModelChange)="value.set($event)"
          />
          @if (value()) {
          <button matSuffix mat-icon-button (click)="value.set('')">
            <mat-icon>close</mat-icon>
          </button>
          }
        </mat-form-field>
      </div>
    </div>
    } @case ('textarea-form') {
    <div [class]="item.row">
      <div [class]="item.col">
        <mat-form-field appearance="outline" [hidden]="item.hidden">
          <mat-label>{{ item.label }}</mat-label>
          <textarea
            matInput
            [formControlName]="item.formControlName"
            [readonly]="item.readonly"
          ></textarea>
        </mat-form-field>
      </div>
    </div>
    } @case ('combo-form') {
    <div [class]="item.row">
      <div [class]="item.col">
        <mat-form-field appearance="outline" [hidden]="item.hidden">
          <mat-label>{{ item.label }}</mat-label>
          <mat-select [formControlName]="item.formControlName">
            @for (opt of item.options || []; track opt.value) {
            <mat-option [value]="opt.value">{{ opt.label }}</mat-option>
            }
          </mat-select>
          <mat-hint align="end">▼</mat-hint>
        </mat-form-field>
      </div>
    </div>
    } @case ('checkbox') {
    <div [class]="item.row">
      <div [class]="item.col">
        <mat-form-field appearance="outline" [hidden]="item.hidden">
          <mat-label>{{ item.label }}</mat-label>
          <input
            type="checkbox"
            [formControlName]="item.formControlName"
            [readonly]="item.readonly"
          />
        </mat-form-field>
      </div>
    </div>
    }

    <!-- Otros tipos como date-form, combo-form, etc. siguen igual -->
    }
  </div>
  }
</div>
}
