<mat-grid-list cols="4" rowHeight="2:1" gutterSize="20px">
  @for (item of items; track $index) {
  <mat-grid-tile>
    <mat-card
      routerLink="{{item.link}}"
      style="
        cursor: pointer;
        height: 100%;
        width: 100%;
        display: flex;
        flex-direction: column;
        background-color: var(--color-gris);
        border-bottom: 2px solid red;
      "
    >
      <mat-card-header>
        <mat-card-title style="color: var(--color-blanco)">
          <h4>{{item.title}}</h4>
          <h4>{{item.subtitle}}</h4>
        </mat-card-title>
      </mat-card-header>
    </mat-card>
  </mat-grid-tile>
  }
</mat-grid-list>
