.card {
  background-color: var(--color-gris);
  color: var(--color-blanco);
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
  padding: 1rem;
  margin: 1rem;
  flex: 1;
  min-width: 300px;
}