<div class="mat-elevation-z8">
  <table
    style="margin-top: 10px; color: #fff;"
    mat-table
    [dataSource]="dataSource"
    matSort
    (matSortChange)="announceSortChange($event)"
  >
    @if (config.actions! != null) {
    <ng-container [matColumnDef]="'actions'">
      <th
        mat-header-cell
        *matHeaderCellDef
      >
        @for(col of config.actions; track $index) {
        <mat-menu #menu="matMenu">
          <button mat-menu-item (click)="(col.event)">
            <mat-icon>{{ col.icon }}</mat-icon>
            <span>{{ col.name }}</span>
          </button>
        </mat-menu>
        }
      </th>
    </ng-container>
    } 
    
    @for (col of config.columns; track $index) {
    <ng-container
      [matColumnDef]="col.columnName"
      style="border: 1px solid #fff"
    >
      <th
        style="color: #fff; border: 1px solid #fff"
        mat-header-cell
        *matHeaderCellDef
        mat-sort-header
        [sortActionDescription]="'Sort by ' + col.columnName"
      >
        {{ col.label }}
      </th>
      <td
        style="color: #fff; border: 1px solid #fff"
        mat-cell
        *matCellDef="let element"
      >
        {{ formatValue(element[col.columnName], col) }}
      </td>
    </ng-container>
    }

    <!-- Estas dos garchas de abajo definen las columnas, son mas importantes que la mierda de arriba -->
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
  </table>

  <mat-paginator
    [pageSizeOptions]="[10, 20, 50]"
    showFirstLastButtons
    aria-label="Select page of periodic elements"
  >
  </mat-paginator>
</div>
