button.mat-mdc-mini-fab.burger-button {
  background-color: transparent;
  box-shadow: none;
}

button.mat-mdc-mini-fab.burger-button:hover {
  background-color: lightblue;
}

mat-icon {
  transition: transform 200ms ease-in-out;
}

mat-icon.rotated {
  transform: rotate(90deg);
}

.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 56px; 
  z-index: 1100;
}

.layout-container {
  height: calc(100vh - 56px);
  margin-top: 56px;
}

mat-sidenav {
  position: fixed;
  top: 56px;
  height: calc(100vh - 56px);
  width: 260px;
  overflow-y: auto;
}