:host {
  display: flex;
  flex-direction: column;
  height: 100%;
}

button.mat-mdc-mini-fab.burger-button {
  background-color: transparent;
  box-shadow: none;
}

button.mat-mdc-mini-fab.burger-button:hover {
  background-color: lightblue;
}

mat-icon {
  transition: transform 200ms ease-in-out;
}

mat-icon.rotated {
  transform: rotate(90deg);
}

/* .navbar {
  top: 0;
  left: 0;
  width: 100%;
  height: 56px; 
  z-index: 1100;
} */

.navbar {
  height: 56px;
  flex-shrink: 0;
  z-index: 1100;
}

/* .layout-container {
  height: calc(100vh - 56px);
  min-height: 0;
} */


mat-sidenav {
  height: calc(100vh - 56px);
  width: 260px;
  overflow-y: auto;
  border-radius: 0;
}

mat-sidenav-container {
  height: 100%;
}

/* mat-sidenav-container {
  height: 100%;
  min-height: 0;
} */

mat-sidenav-content {
  height: 100%;
  overflow-y: auto;
  background: var(--color-dos);
  padding: 15px;
}