<nav class="navbar" style="background-color: #2b78e4; top: 0">
  <div class="container-fluid" style="background-color: transparent">
    <div style="background-color: transparent; border-color: transparent;">
      <button matMiniFab class="burger-button" (click)="onClick()">
        <mat-icon [class.rotated]="opened">menu</mat-icon>
      </button>
    </div>
    <a class="navbar-brand" href="./dashboard">
      <img
        src="https://getbootstrap.com/docs/5.3/assets/brand/bootstrap-logo.svg"
        alt="Bootstrap"
        width="30"
        height="24"
      />
    </a>
  </div>
</nav>
<!-- <div style="width: 100%; height: 100%; background-color: white; padding: 15px">
  
</div> -->
<mat-sidenav-container style="height: 100%">
  <mat-sidenav mode="side" [opened]="opened" style="width: auto;">
    <app-tree-menu-v2></app-tree-menu-v2>
  </mat-sidenav>
  <mat-sidenav-content style="width: 100%; height: 100%; background-color: white; padding: 15px">
    <app-breadcrumb></app-breadcrumb>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
