<nav class="navbar" style="background-color: var(--color-uno); top: 0">
  <div class="container-fluid" style="background-color: transparent">
    <div style="background-color: transparent; border-color: transparent;">
      <button matMiniFab class="burger-button" (click)="onClick()">
        <mat-icon [class.rotated]="opened">menu</mat-icon>
      </button>
    </div>
    <a class="navbar-brand" href="./">
      <img
        src="logo_fachero.png"
        alt="Logo"
        width="40"
        height="30"
      />
    </a>
  </div>
</nav>
<!--  -->
<mat-sidenav-container>
  <mat-sidenav mode="side" [opened]="opened">
    <app-tree-menu-v3></app-tree-menu-v3>
  </mat-sidenav>
  <mat-sidenav-content>
    <app-breadcrumb></app-breadcrumb>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
