button.mat-mdc-mini-fab.burger-button {
  background-color: transparent;
  box-shadow: none;
}

button.mat-mdc-mini-fab.burger-button:hover {
  background-color: lightblue;
}

mat-icon {
  transition: transform 200ms ease-in-out;
}

mat-icon.rotated {
  transform: rotate(90deg);
}