@import "bootstrap/dist/css/bootstrap.min.css";

:root {
  --primary-color: #0a1f44;
  --color-blanco: #f5f7fa; /* Blanco suave */
  --color-gris: #4c5c68; /* Gris azulado */
  --color-azul: #1c3f60; /* Azul medio */
}
