<mat-expansion-panel style="background-color: transparent; margin-top: 10px; color: var(--color-blanco); border: 1px solid var(--color-blanco);">
    <mat-expansion-panel-header>
        <mat-panel-title>
            <mat-icon>search</mat-icon>    
            Filtros
        </mat-panel-title>
    </mat-expansion-panel-header>
    <app-basic-form [config]="config" [formulario]="formulario"></app-basic-form>
    <button matFab extended type="success" (click)="onSearchClieck()">
        <mat-icon>search</mat-icon>
        Buscar
    </button>
    <button matFab extended type="danger" (click)="onClear()">
        <mat-icon>clear</mat-icon>
        Limpiar
    </button>
</mat-expansion-panel>